p {
    color: red;
    background-color: white; 
    margin: 0px;
    padding: 10px;
    border: pink solid 10px;
    font-family: Arial;
    font-size: 10px; 
  }
  
  h1 {background-color: pink;
  front-family: "Times New Roman"; }
  h2 {background-color: pink;}
  a {background-color: pink;}
  
  /*Body is hele pagina/inhoud!*/
  
  body {Margin 10px;}