p {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 20px; 
  }

  nav{

    padding: 10px;
    border: rgb(255, 255, 255) solid 10px;
    margin: 10px;
    background-color: white;
    d

  }
h {
  background-color: white;
  font-size: 15px;

}

h
  
  /*Body is hele pagina/inhoud!*/
  
  body {
    Margin 10px;
    background-color: rgb(240, 240, 182);
    color: rgb(255, 255, 255);
  font-family: Arial;
  
  }
  
  img {
    Width: 300px;
  }

  .box{
    background-color: gray;
    color: white;
    height: 20px;
    flex: 1;
  }

  .box.one {
    background-color: gray;
    color: white;
    flex: 1;
  }

  .box.two {
    background-color: gray;
    color: white;
    flex: 1;
  }

  @media (min-width: 480px) and (max-width:767px) {
    body {
      background-color:rgb(57, 82, 224);
    }
  }
 
  @media (min-width: 768px) and (max-width:1023px) {
    body {
      background-color:rgb(225, 245, 193);
    }
  }
  
  @media (min-width: 1024px) and (max-width:1199px){
    body {
      background-color:rgb(232, 241, 184);
    }
  }
  
  @media (min-width: 1200px) {
    body {
      background-color:rgb(219, 235, 181);
    }
  }

  form input {
    font-size: 1em;
    padding: 10px;
    border: 3px red width;
    color: rgb(168, 239, 168);

  }
 
  


  input:invalid {
    border: 3px solid red;

  }

  input:valid {
    border: 3px solid green;
    
  }

  .formfield {
    display: flex;
    justify-content: space-between;
    flex-direction:row;